* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
}

.container {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.8rem;
    background-color:whitesmoke;
}


.nav-links{
    display:flex;   
    list-style: none;
    text-transform:uppercase;
}

.nav-links li a {
    transition: all 0.1s ease 0s;
    padding:1rem 1.5rem;
    
}
.nav-links li a:hover {
    border-bottom: 2px solid black;
    cursor:pointer
    
}


li,a,button {
    font-weight:600;
    font-size:0.9rem;
    color:black;
    letter-spacing: 0.2rem;
    text-decoration: none;
}


.search-input {
    border-radius:1rem;
    padding:0.5rem 1rem;
    font-family: 'Open Sans', sans-serif;;
}