img {
    width:30%;
    margin:1.6666%;
    height:10%;
}

nav {
    text-transform:uppercase;
    border-bottom:2px solid #e5e5e5;
    width:30%;
    margin:0 0 0 1.6666%;
    padding: 0.5em 0 ;
    font-family: 'Bebas Neue', cursive;
    font-size:2em;
}