@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Barlow", sans-serif;
}

.container {
  height: 100vh;
  max-width: 100%;
}

.header {
  background-color: var(--soft-red);
  background-image: url("./images/mobile/image-header.jpg");
  background-position: bottom right, right bottom;
  background-size: cover;
  padding-bottom: 5.5rem;
}

.navbar {
  display: flex;
  padding: 2rem 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.navbar-items {
  display: flex;
}
.navbar-items a:last-child {
  border-radius: 4rem;
  padding: 1rem 2rem;
  background-color: var(--white);
  text-decoration: none;
}

a:visited {
  color: black;
}

.heading_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.4rem;
  color: var(--white);
  font-size: 1.2rem;
}

.heading_title {
  margin-top: 3.2rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.52rem;
}

.heading_arrow {
  margin-bottom: 3.2rem;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  color: var(--white);
}

.container_section img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.text_square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 1.5rem;
  line-height: 1.6rem;
  background-color: var(--white);
}
.section_title {
  font-size: 2rem;
  font-weight: 900;
  font-family: "Fraunces", serif;
  text-align: center;
  line-height: 2.5rem;
  margin: 2rem 1rem 2rem 1rem;
  color: var(--very-dark-desaturated-blue);
}

.section_description {
  color: var(--dark-grayish-blue);
  text-align: center;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

.section_link {
  font-family: "Fraunces", serif;
  margin-bottom: 2.8rem;
}

.design_section {
  background-image: url("./images/mobile/image-graphic-design.jpg");
  background-size: cover;
}

.design_section_items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 25rem;
  text-align: center;
}

.design_section_items h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--dark-desaturated-cyan);
  font-size: 1.8rem;
  padding: 0rem 2rem;
}
.design_section_items > p {
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--dark-desaturated-cyan);
  padding: 0rem 1rem 3.5rem;
}

.photography_section_items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 25rem;
  text-align: center;
}

.photography_section {
  background-image: url("./images/mobile/image-photography.jpg");
  background-size: cover;
}

.photography_section_items h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--dark-blue);
  font-size: 1.8rem;
  padding: 0rem 2rem;
}
.photography_section_items > p {
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--dark-blue);
  padding: 0rem 1rem 3.5rem;
}

.client__testimonials {
  background-color: var(--white);
}

.client__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.client_testimonials_title {
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin: 2rem 0rem;
  color: var(--grayish-blue);
  font-weight: 900;
}
.client__card img {
  border-radius: 50%;
  max-width: 4.5rem;
  margin: 2rem 0rem;
}

.client__card p {
  color: var(--dark-grayish-blue);
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 600;
}

.client__card__name {
  color: var(--very-dark-desaturated-blue);
  letter-spacing: 0;
  text-transform: none;
  font-size: 1.2rem;
  margin: 1.5rem;
}
.client__card span {
  color: var(--grayish-blue);
}
