@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan:hsl(178, 100%, 50%);

}


*,html {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}

body {
    height:100vh;
    font-family: 'Outfit', sans-serif;
    font-size:18px;
    background-color: var(--main-bg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.container {
    color:var(--white);
    background-color: var(--card-bg);
    padding:2rem;
    border-radius: 1rem;
    margin: 0 2rem;
}

.container ul li{
    display:flex;
    align-items:center;
}

.card-image > img {
    border-radius: 0.5rem;
}

.card-features > p {
    font-weight: 100;
    color: var(--soft-blue);
}

.card-features > h2 {
    padding:1rem 0 ;
}


ul {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--line);
    padding: 1rem 0;
    
}

ul > li:nth-child(1){
    color:var(--cyan);
    font-weight:600;
}

.card-footer {
    display:flex;
    justify-content: start;
    align-items: center;
    margin-top:1rem;
}
.card-footer > img {
    border:2px solid var(--white);
    border-radius: 50%;
    width:2.2rem;
    margin-right: 1rem;
}

@media (min-width:768px){
    .container{
        max-width:50vh;
    }

}